@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inspiration&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

body, html {
    background: #fb3f3f;
    background: -webkit-linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    background: -moz-linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    background: linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FB3F3F", endColorstr="#FC4646", GradientType=0);
}

.maintxt {
    font-family: 'Inspiration', sans-serif;
    font-size: 55px;
    text-align: center;
}

.main_btn {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    background: -moz-linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    background: linear-gradient(319deg, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FB3F3F", endColorstr="#FC4646", GradientType=0);
    border: 2px black solid;
        transition: 0.5s;
}

.main_btn:hover {
    transform: translateY(-3px);
    background: black;
color: #fb3f3f;
color: linear-gradient(319deg,rgba(251, 63, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
}

.mainbtncontent {
    align-items: center;
    text-align: center;
}

.stsdiv {
    margin-top: 25px !important;
    background: #f3f3f3;
    width: 650px;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    color: #fb3f3f;
    min-height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    font-size: 18px;
    color: black;

}

.email {
    color: rgb(205, 205, 205);
    font-size: 14px;
}

.admbtn_pnd {
    background-color: #fff58a;
    border: solid rgb(255, 196, 0) 2px;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Geist Mono', sans-serif;
    color: rgb(255, 196, 0);
    font-size: 14px;
    display: flex;
}

.admbtn_dcl {
    background-color: #e22424;
    border: solid rgb(124, 0, 0) 2px;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Geist Mono', sans-serif;
    color: rgb(124, 0, 0);
    font-size: 14px;
    display: flex;
}

.admbtn_apr {
    background-color: #24e250;
    border: solid rgb(6, 62, 0) 2px;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Geist Mono', sans-serif;
    color: rgb(6, 62, 0);
    font-size: 14px;
    display: flex;
}

.frst {
  position: relative;
  display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.ststus {
    display: none;
    position: absolute;
    background: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 5px;
        z-index: 999;

}

.dropdown:hover .ststus {
    display: block;
}

.aprvd {
    background-color: #24e250;
    border: solid rgb(6, 62, 0) 2px;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Geist Mono', sans-serif;
    color: rgb(6, 62, 0);
    font-size: 14px;
    display: flex;
    margin: 0 auto;
}

.dclnd {
    background-color: #e22424;
    border: solid rgb(124, 0, 0) 2px;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Geist Mono', sans-serif;
    color: rgb(124, 0, 0);
    font-size: 14px;
    display: flex;
    margin-top: 5px !important;
    margin: 0 auto;
}

.hidden {
    display: none;
}